.booklocation-main-container {
  width: 100vw;
  display: flex;
}
.booklocation-main-container h1 {
  margin: 50px 40px;
}

.bookedlocation-second-container {
  width: 1000px;

  margin: 100px -50px;
}
