.main-comment-container {
  width: 320px;
  height: 300px;

  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 3px 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.main-comment-container img {
  margin-top: 10px;
  width: 200px;
  height: 130px;
  border: 2px solid rgb(84, 103, 71, 0.9);
}
#textwrap{
    word-break:keep-all;
    white-space: normal;
}
.comment-content-box {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow-x:scroll;
}

