.location-main-container {
  margin-top: 21px;
  display: flex;
  justify-content: center;
}

.location-main-container.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.location-second-container {
  width: 90%;
  height: 90%;
  margin-top: 20px;
}

.location-img-main-container {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  position: relative;
}

.description-container {
  width: 1100px;
}

.img-container.big {
  grid-row: span 2;
  grid-column: span 2;
}
.img-container.small {
  grid-row: span 1;
  grid-column: span 1;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.review-main-container {
  display: inline;
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.review-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  background-color: antiquewhite;
  border: 1px rgba(128, 128, 128, 0.4) solid;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%), 3px 3px 3px rgb(0 0 0 / 20%);
  margin: 10px 20px;
  padding: 10px 10px;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  color: gray;
}

.reserved-bar {
  display: inline-block;
}

.comment-button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #546747;
  color: white;
}

.postAuthor {
  text-decoration: overline;
}
.locationTitle {
  margin-top: 30px;
}
.locationLabel {
  text-decoration: underline;
}
.locationPricePer {
  font-size: medium;
  text-decoration: underline;
  font-style: italic;
}

.like-btn-container {
  width: 30px;
  height: 30px;

  padding: 0;
  border-radius: 10px;
}

.like-btn-container img {
  width: 115%;
  height: 115%;
  margin-bottom: -10px;
}

.like-btn-container h5 {
  margin-top: 12px;
}

.like-box {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.like-btn-container .like {
  background-color: #fab73d;
}
