.navigation {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: paleturquoise; */
  background-color: #bbc8ba;
}
.Home-container{
  margin-top: 50px;
}

.logo-container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.logo-container img {
  width: 100%;
  position: relative;
}

.logo-container h1 {
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  top: 50px;
  left: 180px;
}
.nav-links-container{
  display: flex;
  align-items: flex-end;
}
.nav-link {
  padding: 15px;
  color: rgb(48, 92, 48);
  text-decoration: none;
  font-style: bold;
  font-size: 20px;
}

 .Title{
  color: rgb(48, 92, 48);
 }
