.navigation {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: paleturquoise;
}

.logo-container {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.logo-container img {
  width: 100%;
  background-color: aqua;
}

.logo-container h1 {
  margin: 0 0;
  padding: 0 0;
  background-color: aqua;
}
