.create-account-main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0px;
  width: 300px;
}
.create-account-form input {
  width: 100%;
  margin: 10px;
  display: block;
}
.create-account-form input:focus {
  background-color: lightblue;
}

::placeholder {
  color: grey;
}
.btn-box {
  display: flex;
  justify-items: center;
  margin-top: 30px;
}
.acc-update-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #546747;
  color: white;
  margin-right: 40px;
}
.acc-delete-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #546747;
  color: white;
  margin-left: 40px;
}

.acc-update-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.acc-delete-btn:hover {
  background-color: darkred;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.deleteAccMessage {
  border-style: dashed;
  border-color: #546747;
  border-width: 10px;
  padding: 15px;
}
