.usercomment-main-container {
  width: 450px;
  height: 350px;
  border: 1px solid gray;
  position: absolute;
  right: -100%;
  padding: 10px;
  border-color: #546747;
  border-width: 5px;
  border-radius: 10%;
  font-weight: bold;
}

.usercomment-main-container.open {
  right: 50px;
  background-color: white;

}

.usercomment-second-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.comment-container {
  background-color: white;
  width: 95%;
  height: 100px;
}

.usercomment-second-container .rating {
  width: 30%;
}
.comment-btn {
  margin-top: 20px;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #546747;
  color: white;
  width: 50%;
  align-self: center;
}
.ratingBox{
  margin-top: 10px;
}
.userFeedBack{
  align-self: center;
}